extends ../layout

block content
  .row
    .col-xs-3
      img.img-rounded.img-responsive(src=`${user.avatar(500)}`, alt='Mi perfil' style='width: 200px; height: 200px;')
      h4 #{user.name}
      p #{user.biography}
    .col-xs-9
      .row.panel.panel-default
        .panel-body
          .col-xs-2.text-center
            | Messages
            br
            string #{messages.length}
          .col-xs-2.text-center
            | Followers
            br
            string #{user.followers.length}
          .col-xs-2.text-center
            | Following
            br
            string #{user.following.length}
          if !hideFollowButton
            if !itsFollowing
              a.btn.btn-info.pull-right(href=`/follow/${user._id}`) Follow
            else
              a.btn.btn-danger.pull-right(href=`/unfollow/${user._id}`) Unfollow
          else
            .col-xs-2.text-center
              button.btn.btn-primary(type='button')
                | Edit profile
      .row
        .col-xs-12
          include ../messages/feed
