if messages
  div
    ul.media-list
      each message in messages
        li.media
          a.pull-left(href=`/profile/${message.user._id}`)
            img.media-object.img-rounded(src=`${message.user.avatar(50)}`, alt='${message.user.name}' style='width: 50px; height: 50px;')
          .media-body
            span.text-muted.pull-right.timeago(datetime=message.createdAt)
              small.text-muted #{message.createdAt.toLocaleString()}
            h4.media-heading(data-bs-toggle='tooltip' title='#{message.user.name}') #{message.user.name}
            p.media-body #{message.text}
